* text=auto eol=crlf

##### Language
*.c    text eol=crlf
*.h    text eol=crlf

###### Git
.gitattributes text eol=crlf
.gitignore text eol=crlf
.editorconfig text eol=crlf

###### Binary
*.out binary
*.obj binary
*.map binary
*.d binary
*.elf binary
*.bin binary
*.hex binary
*.map binary
