* text=auto eol=lf

##### Language
*.c    text eol=lf
*.h    text eol=lf

###### Git
.gitattributes text eol=lf
.gitignore text eol=lf

###### Binary
*.out binary
*.obj binary
*.map binary
*.d binary
*.elf binary
*.bin binary
*.hex binary
*.map binary
